@charset "UTF-8";
body{
    background-color: rgb(83, 0, 161);
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
}
 h1 {
    color: rgb(19, 165, 0);

}
 h2{
    background-color: rgb(255, 204, 0);}

p{
    color: cornsilk;
}

a{
    color: rgb(255, 0, 0);
    background-color: cornsilk;
}
